{% extends 'base.html' %}
{% load i18n %}

{% block container %}
    <div class="content">
    {% if validlink %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p>{% blocktrans count form.errors.items|length as counter %}请修复以下错误。{% plural %}请修复以下错误。{% endblocktrans %}</p>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $(".alert-message").alert();
                    });
                </script>
            </div>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
            <fieldset>
                <legend>密码重设成功</legend>
                <div class="clearfix">
                    <div class="input">请输入两次新密码</div>
                </div>
                {% for field in form %}
                    {% include 'common/form_field.html' %}
                {% endfor %}
                <div class="actions">
                    <input type="submit" class="btn primary" value="修改我的密码">
                </div>
            </fieldset>
            <script type="text/javascript">
                document.forms[1].elements[2].focus();
            </script>
        </form>
    {% else %}
        <h3>密码重置成功</h3>
        <p>密码重置链接失效，可能他已经被使用，请重新重置密码。</p>
    {% endif %}
    </div>
{% endblock %}
