{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block container %}
<div class="container"><div class="center-block">
    <h4>请使用内网账户登录，用户名为姓名全拼，没有邮箱后缀。</h4>
<form method="post" action=".">
    {% csrf_token %}
    {% for field in form %}
        {% include 'common/form_field.html' %}
    {% endfor %}
    <input type='hidden' name='next' value='{{ next }}'>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">登录</button>
        </div>
    </div>
</form>
</div></div>
{% endblock %}
