{% extends 'base.html' %}

{% block container %}
    <div class="content">
        <h2><a href="{{ application.wandoujia_url }}">{{ application.name }}</a></h2>
        <img src="{{ application.original_icon_image }}" />
        <img src="/uploads/{{ application.last_icon.image_192px }}" />
        <img src="/uploads/{{ application.last_icon.image_128px }}" />
        <p>下载次数：{{ application.download_count }}</p>
        <p>{{ application.description|safe}}</p>
        <p>当前状态：{{ application.get_status_display }}
        </p>
        <p>
    </div>
    <div>
        {% if operation_flag == 'claim' %}
        <a href="/apps/{{ application.id }}/claim/">认领</a>
        {% elif operation_flag == 'upload' or operation_flag == 'uploaded' %}
        <form enctype="multipart/form-data" method="post" class="form-horizontal" role="form">{% csrf_token %}
            <legend><span class="col-sm-offset-1">上传</span></legend>
            {% for field in icon_upload_form %}
                {% include 'common/form_field.html' %}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" name="upload" class="btn btn-default">提交</button>
                  &nbsp;<button type="reset" class="btn">取消</button>
                </div>
            </div>
        </form>
          {% if operation_flag == 'uploaded' %}<a href="/apps/{{ application.id }}/claim/"></a>{% endif %}
        {% elif operation_flag == 'notyours' %}
        已经被{{ user.username }}认领 ^_^
        {% else %}
        无操作
        {% endif %}
    </div>
{% endblock %}
