{% extends 'base.html' %}

{% block container %}
    <div class="content container">
        <div class="row detail-app-info">
            <div class="col-md-3">
                {% if application.last_icon %}{% with icon=application.last_icon %}
                <img class="detail-icon-192 center-block" src="/uploads/{{ icon.image_192px }}" />
                <h4 class="text-center detail-icon-artist">作者：{{ icon.artist.last_name }}{{ icon.artist.first_name }}</h4>
                <p class="text-center detail-icon-rating">{% if my_score == 0 %}
                    <a href="/icons/{{ icon.id }}/rate/1/" class="btn btn-default" role="button">Like({{ icon.like_count }})</a>
                    <a href="/icons/{{ icon.id }}/rate/-1/" class="btn btn-default" role="button">Unlike({{ icon.unlike_count }})</a>
                    {% elif my_score == 1 %}
                    <a href="/icons/{{ icon.id }}/rate/0/" class="btn btn-primary active" role="button">Liked({{ icon.like_count }})</a>
                    <a href="/icons/{{ icon.id }}/rate/-1/" class="btn btn-default" role="button">Unlike({{ icon.unlike_count }})</a>
                    {% elif my_score == -1 %}
                    <a href="/icons/{{ icon.id }}/rate/1/" class="btn btn-default" role="button">Like({{ icon.like_count }})</a>
                    <a href="/icons/{{ icon.id }}/rate/0/" class="btn btn-primary active" role="button">Unliked({{ icon.unlike_count }})</a>
                    {% endif %}</p>
                {% endwith %}
                {% else %}
                敬请期待！
                {% endif %}
            </div>
            <div class="col-md-3">
                <img class="detail-icon-192 center-block" src="{{ application.original_icon_image }}" />
                <h4 class="text-center detail-icon-artist">原始图标</h4>
            </div>
            <div class="col-md-6">
                <h2>
                    {{ application.name }}
                    <small>
                        <a href="{{ application.wandoujia_url }}">
                            <span class="label label-info">下载</span>
                        </a>
                    </small>
                </h2>
                <hr />
                <h4>
                    <span class="label label-info">{{ application.get_status_display }}</span>
                    <span class="label label-default"><span class="glyphicon glyphicon-download"></span> {{ application.download_count }}</span>
                </h4>
                <hr />
                <div class="detail-app-desc">
                    <h4>应用介绍</h4>
                    <p>{{ application.description|safe}}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% if operation_flag == 'claim' %}
        <a href="/apps/{{ application.id }}/claim/">认领</a>
        {% elif operation_flag == 'upload' or operation_flag == 'uploaded' %}
        <form enctype="multipart/form-data" method="post" class="form-horizontal" role="form">{% csrf_token %}
            <legend><span class="col-sm-offset-1">上传</span></legend>
            {% for field in icon_upload_form %}
                {% include 'common/form_field.html' %}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" name="upload" class="btn btn-default">提交</button>
                  &nbsp;<button type="reset" class="btn">取消</button>
                </div>
            </div>
        </form>
            {% if operation_flag == 'uploaded' %}<a href="/apps/{{ application.id }}/claim/"></a>{% endif %}
        {% elif operation_flag == 'notyours' %}
        已经被{{ user.username }}认领 ^_^
        {% else %}
        无操作
        {% endif %}
    </div>
{% endblock %}
