<div class="detail-block">
<div class="row detail-title">
    <div class="col-md-12">
        <span class="detail-app-name">{{ application.name }}</span>
        <span style="float: right;">{% include 'applications/like.html' %}</span>
    </div>
</div>
<hr />
<div class="row detail-icons">
    <div class="col-md-6">
        <img class="detail-icon-192 center-block detail-original-icon" src="{{ application.original_icon_image }}" />
        <h5 class="text-center detail-icon-artist">原始图标</h5>
    </div>
</div>
<hr />
<div class="row detail-desc">
    <div class="col-md-12">{{ application.description|safe }}</div>
</div>
</div>
