{% load app_tags %}
<div class="text-center app-rating">
    {% if application|score:request.user == 0 %}
    <a href="#" onclick="app_rate({{ application.id }}, 1, '{{ csrf_token }}')" class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> 赞</a>
    <a href="#" onclick="app_rate({{ application.id }}, -1, '{{ csrf_token }}')" class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-down"></span> 无爱</a>
    {% elif application|score:request.user == 1 %}
    <a href="#" onclick="app_rate({{ application.id }}, 0, '{{ csrf_token }}')" class="btn btn-primary active" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> 赞</a>
    <a href="#" onclick="app_rate({{ application.id }}, -1, '{{ csrf_token }}')" class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-down"></span> 无爱</a>
    {% elif application|score:request.user == -1 %}
    <a href="#" onclick="app_rate({{ application.id }}, 1, '{{ csrf_token }}')" class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> 赞</a>
    <a href="#" onclick="app_rate({{ application.id }}, 0, '{{ csrf_token }}')" class="btn btn-primary active" role="button"><span class="glyphicon glyphicon-thumbs-down"></span> 无爱</a>
    {% endif %}
</div>
