{% extends 'base.html' %}
{% block container %}
    <div class="container content">
    <table class="table table-hover app-list" id="app-list">
        <thead>
            <tr>
                <th>认领</th>
                <th>图标</th>
                <th>名称</th>
                <th>下载次数</th>
                <th>原始链接</th>
            </tr>
        </thead>
        <tbody>
        {% for app in app_list %}
            <tr>
                <td>
                    <a href="{% url 'app-claim' app.id %}?next={{ request.path }}" class="btn btn-primary" role="button">认领</a>
                </td>
                <td><a href="{% url 'app-detail' app.id %}"><img src="{{ app.original_icon_image }}" class="detail-icon-128"/></a></td>
                <td><p class=" app-list-info">{{ app.name }}</p></td>
                <td>{{ app.download_count }}</td>
                <td><a href="{{ app.source_url }}" target="_blank">应用链接</a></td>
            </tr>
        {% empty %}
            <tr><td colspan="6"><h2 class="text-center">没有图标可以认领</h2></td></tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="." method="post" accept-charset="utf-8">


    </form>
    </div>
{% endblock %}
