{% extends 'base.html' %}

{% block container %}
    <div class="content col-md-12 center-block"><div class="row col-md-9">
        {% for app in app_list %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail center-block">
                <img src="{{ app.original_icon_image }}" alt="{{ app.name }}">
                <div class="caption hidden">
                    <h3><a href="{{ app.wandoujia_url }}">{{ icon.name }}</a></h3>
                    <p>下载次数 {{ app.download_count }}</p>
                    <p>当前状态 {{ app.get_status_display }}</p>
                    <p>
                        <a href="/apps/{{ app.id }}/" class="btn btn-primary" role="button">详情</a>
                        <a href="{{ app.wandoujia_url }}" class="btn btn-default" role="button">豌豆荚链接</a>
                    </p>
                 </div>
             </div>
         </div>
        {% endfor %}
    </div></div>
{% endblock %}
