{% extends 'base.html' %}
{% block container %}
    <div class="container content">
    <form method="post" class="form-horizontal" role="form">{% csrf_token %}
        <legend><span class="col-sm-offset-1">审核应用</span></legend>
        <table class="table table-hover app-list" id="app-list">
            <thead>
                <tr>
                    <th><input id="selectall" name="selectall" type="checkbox"></th>
                    <th>图标</th>
                    <th>名称</th>
                    <th>提交人</th>
                    <th>下载次数</th>
                    <th>原始链接</th>
                </tr>
            </thead>
            <tbody>
            {% for form in formset.forms %}
                <tr>
                    <td>
                        {{ form.id }}
                        {{ form.is_checked }}
                    </td>
                    <td><a href="{% url 'app-detail' form.instance.id %}"><img src="{{ form.instance.original_icon_image }}" class="detail-icon-128"/></a></td>
                    <td><p class=" app-list-info">{{ form.instance.name }}</p></td>
                    <td>{{ form.instance.uploader.last_name }}{{ form.instance.uploader.first_name }}</td>
                    <td>{{ form.instance.download_count }}</td>
                    <td><a href="{{ form.instance.source_url }}" target="_blank">应用链接</a></td>
                </tr>
            {% empty %}
                <tr><td colspan="6"><h2 class="text-center">没有图标需要审核</h2></td></tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-sm-10">
                {{ formset.management_form }}
                <button type="submit" name="action" value="confirm" class="btn btn-success">通过</button>
                <button type="submit" name="action" value="abandon" class="btn btn-error">拒绝</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}
