{% extends 'base.html' %}
{% load static %}

{% block container %}
<div class="launcher container">
    {% for app in app_list %}
    <div class="brick-{% cycle '1' '2' '3' '1' '2' '3' '4' '5' '6' '4' '5' '6' '7' '8' '9' '7' '8' '9' %} brick" appurl="{{ app.get_absolute_url }}thumb/">
        <div class="brick-icon center-block">
            <img src="{% get_media_prefix %}{{ app.get_icon_url }}" alt="{{ app.name }}">
        </div>
        <div class="brick-info">
            <h5 class="text-center">
                <div class="text-center text-overflow"><span>{{ app.name }}</span></div>
            </h5>
        </div>
    </div>
    {% empty %}
    <h2 class="text-center brick-info">没有图标 o(╯□╰)o</h2>
    {% endfor %}
</div>{% endblock %}
{% block footer%}
  <div id="app-thumb" class="thumb" style="display: none;"></div>
{% endblock %}
