{% load static %}
<div class="row app-title">
    <div class="col-md-12">
        <span class="app-name"><a href="{{ application.get_absolute_url }}" target="_blank">{{ application.name }}</a></span>
        <div id="app-score" class="app-score">{% include 'applications/like.html' %}</div>
    </div>
</div>
<hr />
<div class="row app-icons">
    <div class="col-md-6 col-xs-6 app-icon-redraw">
        <img class="center-block" src="{% get_media_prefix %}{{ application.get_icon_url }}" />
        <h5 class="text-center app-artist">重绘图标</h5>
    </div>
    <div class="col-md-6 col-xs-6 app-icon-original">
        <img class="center-block icon-original" src="{{ application.original_icon_image }}" />
        <h5 class="text-center app-artist">原始图标</h5>
    </div>
</div>
<hr />
<h2 class="app-ops"><a href="{{ application.get_absolute_url }}" target="_blank">评论</a> | <a href="{{ application.share_button|safe }}" target="_blank">分享到新浪微博</a></h2>
