body {
    padding-top: 60px;
    padding-bottom: 40px;
    -webkit-font-smoothing:antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

.launcher {
    background: #111;
    width: 1080px;
    padding: 0px;
    height: 100%;
}

.brick {

}

.brick-dark {
    background: url(/static/images/app-brick-dark.png);
    width: 358px;
    height: 458px;
    float: left;
    margin: 1px;
}

.brick-icon-192 {
    margin-top: 100px;
    max-width: 192px;
    max-height: 192px;
}

.brick-icon-192 img {
    max-width: 192px;
    max-height: 192px;
    -webkit-filter: drop-shadow(0 10px 10px rgba(0,0,0,.8));
    -moz-filter: drop-shadow(0 10px 10px rgba(0,0,0,.8));
    -ms-filter: drop-shadow(0 10px 10px rgba(0,0,0,.8));
    -o-filter: drop-shadow(0 10px 10px rgba(0,0,0,.8));
    filter: drop-shadow(0 10px 10px rgba(0,0,0,.8));
}

.brick-app-info {
    margin-top: 75px;
    text-shadow: rgba(0, 0, 0, .8) 0 2px 2px;
}

.brick-app-info, .brick-app-info a, a.hover {
    color: #fff;
    text-decoration: none;
}

.brick-app-extinfo {
    margin-top: 65px;
    height: 100px;
    background: #fff;
    opacity: .85;
}

.brick-app-extinfo p {
    line-height: 100px;
    vertical-align: middle;
}

.detail-app-info {
    margin-top: 20px;
}

.detail-icon-128 {
    max-width: 128px;
    max-height: 128px;
}
.detail-icon-192 {
    max-width: 192px;
    max-height: 192px;
}
.detail-original-icon {
    float: left;
}

.detail-app-desc {
    font-size: 15px;
}

.detail-icon-artist {
    margin-top: 40px;
}
.detail-icon-rating {
    margin-top: 40px;
}
