body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.launcher {
    background: #111;
    width: 1080px;
    padding: 0px;
    height: 100%;
}

.app-brick {
    background: url(/static/images/app-brick1.png);
    width: 358px;
    height: 458px;
    float: left;
    margin: 1px;
}

.app-icon-192 {
    padding-top: 100px;
    max-width: 192px;
    max-height: 192px;
}

.app-icon-192 img {
    max-width: 192px;
    max-height: 192px;
}

.app-info {
    margin-top: 75px;
}

.app-info a, a.hover {
    color: #fff;
    text-decoration:none;
}
