{% load static %}
{% load user_filter %}

    <div class="brick-icon-192 center-block">
        <a href="{% url 'app-detail' app.id %}" class="text-center">
            <img class="" src="{% get_media_prefix %}{{ app.icon }}" alt="{{ app.name }}">
        </a>

    </div>
    <div class="brick-app-info">
        <h2 class="text-center">
            <a href="{% url 'app-detail' app.id %}"><div class="text-center text-overflow">{{ app.name }}</div></a>
        </h2>
    </div>
    {% if request.user.is_authenticated %}
    <!--div class="brick-app-extinfo text-center" style="display: none;">
        {% include 'common/app_like.html' %}
    </div-->
    {% endif %}
