{% load i18n %}
<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="utf-8">
    <title>Icon Matrix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Icon Matrix</a></li>
            <li><a href="{% url 'list-finish' %}">已绘</a></li>
            <li><a href="{% url 'list-claim' %}">在绘</a></li>
            <li><a href="{% url 'list-confirm' %}">认领</a></li>
            <li><a href="{% url 'app-submit' %}">提交应用</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><p class="navbar-text">{{ user.username }}</p></li>
                <li><a href="{% url 'auth-logout' %}">退出</a></li>
                {% else %}
                <li><a href="{% url 'auth-login' %}">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="container">
    {% block container %}
        <h1>Icon Matrix</h1>
    {% endblock %}
    <hr>
    <footer>
        <p>By <a href="http://weibo.com/sharpmark">Sharpmark</a></p>
    </footer>
    </div> <!-- /container -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

  </body>
</html>
