{% load tags %}
{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>Icon Matrix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% get_static_prefix %}css/bootstrap.min.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/main.css" rel="stylesheet">
  </head>

    {% url 'index' as index_url %}
    {% url 'list-confirm' as list_confirm_url %}
    {% url 'app-submit' as app_submit_url %}
    {% url 'auth-logout' as auth_logout_url %}
    {% url 'auth-login' as auth_login_url %}

  <body>
      <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
          <div class="container">
              <nav class="collapse navbar-collapse" role="navigation">
                  <ul class="nav navbar-nav">
                      <li class="{% active index_url %}"><a href="{% url 'index' %}">Icon Matrix</a></li>
                      <li class="{% active list_confirm_url %}"><a href="{% url 'list-confirm' %}">认领图标</a></li>
                      <li class="{% active app_submit_url %}"><a href="{% url 'app-submit' %}">提交应用</a></li>
                      {% block nav-custom %}{% endblock %}
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      {% if user.is_authenticated %}
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="/artists/{{ user.id }}/apps/claim/">我在绘的图标</a></li>
                              <li><a href="/artists/{{ user.id }}/apps/finish/">我已绘的图标</a></li>
                          </ul>
                      </li>
                      <li class="{% active auth_logout_url %}"><a href="{% url 'auth-logout' %}">退出</a></li>
                      {% else %}
                      <li class="{% active auth_login_url %}"><a href="{% url 'auth-login' %}">登录</a></li>
                      {% endif %}
                  </ul>
              </nav>
          </div>
      </header>

    <div class="">
    {% block container %}
        <h1>Icon Matrix</h1>
    {% endblock %}
    <hr>
    <footer>
    </footer>
    </div> <!-- /container -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>

  </body>
</html>
