{% load tags %}
{% load static %}
{% load user_filter %}
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}首页{% endblock %} | Icon Matrix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% get_static_prefix %}css/bootstrap.min.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/main.css" rel="stylesheet">
  </head>

    {% url 'index' as index_url %}
    {% url 'apps-confirm' as apps_confirm_url %}
    {% url 'apps-create' as apps_create_url %}
    {% url 'apps-submit' as apps_submit_url %}
    {% url 'auth-logout' as auth_logout_url %}
    {% url 'auth-login' as auth_login_url %}
    {% url 'artist-my-claim' as artist_my_claim %}
    {% url 'artist-my-upload' as artist_my_upload %}
    {% url 'artist-my-finish' as artist_my_finish %}

  <body>
      <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
          <div class="container">
              <nav class="collapse navbar-collapse" role="navigation">
                  <ul class="nav navbar-nav">
                      <li class="{% active index_url %}"><a href="{% url 'index' %}">Icon Matrix</a></li>
                      {% if user.is_authenticated %}
                          {% if user|is_ui %}
                      <!--li class="{% active apps_confirm_url %}"><a href="{% url 'apps-confirm' %}">认领图标</a></li-->
                          {% endif %}
                      <li class="{% active apps_submit_url %}"><a href="{% url 'apps-submit' %}">提交应用</a></li>
                          {% if user|is_admin %}
                      <li class="{% active apps_create_url %}"><a href="{% url 'apps-create' %}">审核应用</a></li>
                          {% endif %}
                      {% endif %}
                      {% block customnav %}{% endblock %}
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                      <form class="navbar-form navbar-left" role="search" action="/apps/search/" method="post">{% csrf_token %}
                              <input id="id_query" maxlength="100" name="query" class="form-control" placeholder="搜索应用">
                      </form>
                      {% if user.is_authenticated %}
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <span class="label label-warning user-claim-count" style="display: none;">{{ user|get_claim }}</span><b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              {% if user|is_ui %}
                              <li><a href="{% url 'artist-my-claim' %}">我在绘的图标 <span class="user-claim-count label label-warning" style="display: none;">{{ user|get_claim }}</span></a></li>
                              <li><a href="{% url 'artist-my-finish' %}">我已绘的图标</span></a></li>
                              {% endif %}
                              <li class="{% active auth_logout_url %}"><a href="{% url 'auth-logout' %}">退出</a></li>
                          </ul>
                      </li>
                      {% else %}
                      <li class="{% active auth_login_url %}"><a href="{% url 'auth-login' %}">登录</a></li>
                      {% endif %}
                  </ul>


              </nav>
          </div>
      </header>

    <div class="">
    {% block container %}
        <h1>Icon Matrix</h1>
    {% endblock %}
    </div>
    <!--hr-->
    <footer>
    {% block footer %}
    {% endblock %}
    </footer>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.popupoverlay.js"></script>

  </body>
</html>
