{% load icon_tags %}
<div id="icon-score">
<span class="text-center detail-icon-rating">
    {% if icon|score:request.user == 0 %}
    <a href="#" onclick="icon_rate({{ icon.id }}, 1, '{{ csrf_token }}')" class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> 赞</a>
    <a href="#" onclick="icon_rate({{ icon.id }}, -1, '{{ csrf_token }}')" class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-down"></span> 无爱</a>
    {% elif icon|score:request.user == 1 %}
    <a href="#" onclick="icon_rate({{ icon.id }}, 0, '{{ csrf_token }}')" class="btn btn-primary active" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> 赞</a>
    <a href="#" onclick="icon_rate({{ icon.id }}, -1, '{{ csrf_token }}')" class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-down"></span> 无爱</a>
    {% elif icon|score:request.user == -1 %}
    <a href="#" onclick="icon_rate({{ icon.id }}, 1, '{{ csrf_token }}')" class="btn btn-default" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> 赞</a>
    <a href="#" onclick="icon_rate({{ icon.id }}, 0, '{{ csrf_token }}')" class="btn btn-primary active" role="button"><span class="glyphicon glyphicon-thumbs-down"></span> 无爱</a>
    {% endif %}
</span>
</div>
